@media (max-width: 960px) {
  .showcase {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .about .left-half {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .showcase img {
    border: none;
    gap: 15px;
    margin: 0;
  }

  .why-us,
  .home-blog .articles,
  .testimonials-container {
    grid-template-columns: 1fr;
  }

  .appt-gallery > .col {
    display: grid;
    grid-template-columns: 1fr;
  }

  .appt-card {
    height: 20rem;
  }

  .appt-details {
    opacity: 100%;
  }

  .testimonial {
    margin-right: 0px;
  }

  .testimonial-video img,
  .testimonial-grid {
    border-radius: 30px;
  }

  .testimonials-container {
    gap: 30px;
  }

  .home-blog article .article-details {
    align-items: center;
    align-self: center;
  }

  .home-blog .articles {
    text-align: center;
  }

  .footer,
  .steps-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .main-nav-links {
    display: none; //causing overflow issues, will malke responsive
  }

  .hero {
    text-align: center;
  }

  .hero-details,
  .grid-half,
  .showcase,
  .why-us,
  .testimonial-grid {
    grid-template-columns: 1fr;
  }

  .hero-buttons {
    justify-content: center;
  }

  .hero-video {
    margin-top: 60px;
  }

  .counter-stats {
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    gap: 2em;
  }

  .section-intro {
    flex-direction: column;
    text-align: center;
  }

  .service-cards,
  .footer,
  .steps-cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 568px) {
}
